:root {
  --color1: #101010;
  --color2: #202020;
  --color3: #00ff90;
  --color4: #00ff90;
}

[data-theme="light"] {
  --color1: #ffffff;
  --color2: #00ff90;
  --color3: #303030;
  --color4: #000000;
}

@font-face {
  font-family: "PixelfySans";
  src: url("./assets/fonts/en/Pixelfy_Sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PixelAE";
  src: url("./assets/fonts/ar/PixelAE-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PixelfySans", "PixelAE";
  background-color: var(--color1);
  color: var(--color4);
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-size: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color4);
}

.nav-bar {
  font-size: 16px;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  background-color: var(--color2);
  box-shadow: 0 2px 5px rgb(from var(--color4) r g b / 0.5);
  align-items: stretch;
  flex-direction: row;
  line-height: 1.5;
}

.nav-bar ul {
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  float: left;
  margin: 0;
}

.nav-bar li a {
  display: block;
  color: var(--color4);
  text-align: center;
  height: 100%;
  padding: 14px 20px;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.nav-bar li span {
  display: block;
  padding: 10px;
  color: var(--color4);
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.nav-bar li span:hover {
  color: var(--color3) !important;
}

.nav-bar li a:hover:not(.active) {
  background-color: var(--color3);
  color: var(--color1);
}

.nav-bar li *.active {
  background-color: var(--color3);
  color: var(--color1) !important;
}

.material-symbols-outlined {
  align-self: center;
  margin: 3px;
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 20;
}

.avatar-image {
  display: block;
  background-color: transparent;
  height: 25px;
  width: 25px;
  padding-top: 10px;
  padding-right: 10px;
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.avatar-image:hover {
  opacity: 70%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color2);
  /*min-width: 160px;*/
  box-shadow: 0px 8px 16px rgb(from var(--color4) r g b / 0.5);
  z-index: 1;
  border-radius: 5px;
  text-align: left;
  padding: 5px 0;
  right: 0;
  transform: translateX(0%);
}

.dropdown-content a {
  color: var(--color4);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: var(--color3);
  color: var(--color1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Popup Window */
.popup-window {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding-top: 0px;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-window .popup-content {
  background-color: var(--color2);
  padding: 20px;
  border: 1px solid var(--color4);
  color: var(--color4);
  width: 40%;
  max-width: 800px;
  box-sizing: border-box;
}

.popup-close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* Button */
.button {
  font-family: "PixelfySans" "PixelAE";
  color: var(--color1);
  background-color: var(--color4);
  border: 0;
  margin: 3px 3px;
  height: 30px;
  min-width: 30px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.button:hover {
  color: var(--color4);
  background-color: var(--color1);
}

/* Containers */
.container {
  max-width: 400px;
  margin: 70px auto;
  padding: 20px;
  background: var(--color2);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgb(from var(--color4) r g b / 0.5);
  color: var(--color4);
  text-align: center;
}

/* Forms */
.login-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
}

.form-group label {
  margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
  font-family: "PixelfySans";
  font-size: 16;
  padding: 10px;
  border: 1px solid var(--color4);
  background-color: var(--color1);
  color: var(--color4);
  transition: border-color 0.3s ease;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus,
.login-form input[type="email"]:focus {
  border-color: var(--color3);
  outline: none;
}

.login-form input[type="submit"] {
  font-family: "PixelAE";
  background-color: var(--color4);
  color: var(--color1);
  border: none;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.login-form input[type="submit"]:hover {
  color: var(--color4);
  background-color: var(--color1);
}

/* Media Queries */
@media (max-width: 600px) {
  .container {
    width: 90%;
    margin: 20px auto;
  }
}
